<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="" />
    <link rel="icon" sizes="192x192" href="/icons/api.png" />
    <link rel="stylesheet" href="/style/person.css" />
    <base target="_blank" />
    <title>Title</title>
  </head>
  <body>
    <header>
      <% if(numberData != null){%>
      <label for="">My Number is <%= numberData.number %></label>
      <% } else {%>
      <label for="">My Number is Not Find</label>
      <% } %>
    </header>
    <%# EJS Comment %>
    <nav>
      <% if(numberData != null){%>
      <div>
        <a href="https://www.google.com"><%= numberData.name %></a>
        <a href="https://www.google.com"><%= numberData.number %></a>
        <a href="https://www.google.com"><%= numberData.age %></a>
        <a href="https://www.google.com" target="_self"
          ><%= numberData.classname %></a
        >
      </div>
      <% } %>
    </nav>
    <main>
      <label for="">ddddd</label>
      <div class="div-block">
        <% if(datas != null){ %> <% for(let i =0 ; i<20 ; i++){ %> <%
        datas.forEach(element => { %> <%-
        include("partials/interface",{element}) %> <%});%> <% } %> <% } %>
      </div>
    </main>
  </body>
  <script src="/js/person.js"></script>
  <noscript>
    <label for="">此瀏覽器不支援JS</label>
  </noscript>
</html>
